@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes meteor-effect {
  0% {
    transform: translate(0, 0) rotate(var(--rotation));
    opacity: 1;
  }
  100% {
    transform: translate(100vw, 100vh) rotate(var(--rotation));
    opacity: 0;
  }
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}
